*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    display: grid;
    grid-template-rows: 0.3fr 2fr;
    background-color: rgb(184, 106, 28);
    /* height: 100%; */
    width: 100vw;
  height: 100vh;
  position: relative;
}

.header{
    grid-row: 1/2;
    /* height: 30%; */
    background-color: aquamarine;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}

.container{
    grid-row: 2/3;
    background-color: burlywood;
    display: grid;
    grid-template-rows: 0.3fr 2fr;
}

#add-book-button-div{
    background-color: rgb(210, 72, 245);
    display: grid;
    justify-content: center;
    align-items: center;
    /* font-size: 2rem; */
}

#show-books{
    background-color: cornflowerblue;
    color: black;
    font-size: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 10px;
}

.popup-form{
    
    background-color: rgba(0,0, 0, 0.7);
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.form-contents{
    height: 15em;
    width: 18em;
    background-color: white;
    /* display: block; */
    /* display: flex; */
    padding: 20px;
    text-align: center;
    position: relative;
    font-size: 1.5rem;
}

.form-contents div{
    /* display: block; */
    margin-top: 15px;
}

#cross{
    position: absolute;
    top: 0;
    right: 2em;
    transform: rotate(45deg);
    /* font-weight 900; */
    cursor: pointer;
}

.card{
    height: 250px;
    width: 250px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
}
